
.header{
    padding:3rem;
    border:3px solid green;
    margin-bottom: 3rem;
}

//BEM notation
.header__title{

    font-size: 3.2rem;
    margin: 0;
}

.header__subtitle{
    color:#a5afd7;
    font-size: 1.6rem;
    font-weight: 500;
    margin:0;
}