
.header{
    padding:3rem;
    border:3px solid green;
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-end;
}

//BEM notation
.header__link{

    margin-right: 2rem;
}

.header__subtitle{
    color:#a5afd7;
    font-size: 1.6rem;
    font-weight: 500;
    margin:0;
}